# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
*.egg-info
*.egg

# Unit test / coverage reports
.coverage
.coverage.*
nosetests.xml
coverage.xml
_trial_temp
.hypothesis
.pylintrc
trial.xml

# Developer
.project
.pydevproject
.DS_Store
